Repository Pinecone-aqua/jimdii, pull requests merged in 2023-05, with the labels that each got.

#114 89 be membership service post
  backend/src/google-login/google-login.controller.ts
  backend/src/membership/membership.controller.ts
  backend/src/membership/membership.dto.ts
  backend/src/membership/membership.model.ts
  backend/src/membership/membership.module.ts
  backend/src/membership/membership.service.ts
  front_end/client/context/UserContext.tsx
  front_end/client/pages/fitness/[id].tsx
  front_end/client/pages/index.tsx
  front_end/client/styles/home.scss
  front_end/client/util/types.ts
Labels: Jamie, Jimdii

#119 117 header responsive with style
  backend/src/fitness/fitness.controller.ts
  front_end/client/components/Header.tsx
  front_end/client/package-lock.json
  front_end/client/package.json
  front_end/client/pages/_document.tsx
  front_end/client/pages/index.tsx
  front_end/client/styles/globals.scss
  front_end/client/tailwind.config.js
Labels: Client

#120 76 client create profile page with style
  backend/src/app.module.ts
  backend/src/fitness/fitness.controller.ts
  backend/src/fitness/fitness.service.ts
  backend/src/google-login/google-login.controller.ts
  backend/src/membership/membership.controller.ts
  backend/src/membership/membership.model.ts
  backend/src/membership/membership.service.ts
  backend/src/middleware/checkToken.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.model.ts
  backend/src/user/user.service.ts
  front_end/client/components/Card.tsx
  front_end/client/components/Header.tsx
  front_end/client/components/Layout.tsx
  front_end/client/components/Loading.tsx
  front_end/client/components/Pagination.tsx
  front_end/client/components/Pagination/PageNum.tsx
  front_end/client/components/SingleFitness/ContactInfo.tsx
  front_end/client/components/SingleFitness/Discount.tsx
  front_end/client/components/SingleFitness/FitnessPrice.tsx
  front_end/client/components/SingleFitness/Spec.tsx
  front_end/client/components/SingleFitness/Timetable.tsx
  front_end/client/components/profile/ActiveMembership.tsx
  front_end/client/components/profile/MembershipCard.tsx
  front_end/client/components/profile/MembershipHistory.tsx
  front_end/client/components/profile/UserDetail.tsx
  front_end/client/constants/Pages.tsx
  front_end/client/next.config.js
  front_end/client/package-lock.json
  front_end/client/package.json
  front_end/client/pages/404.tsx
  front_end/client/pages/_app.tsx
  front_end/client/pages/allFitness/[page].tsx
  front_end/client/pages/fitness/[id].tsx
  front_end/client/pages/index.tsx
  front_end/client/pages/profile.tsx
  front_end/client/pages/registerGym.tsx
  front_end/client/pages/signUpGym.tsx
  front_end/client/pages/singleGym.tsx
  front_end/client/styles/globals.scss
  front_end/client/styles/membershipCard.scss
  front_end/client/styles/profile.scss
  front_end/client/tsconfig.json
  front_end/client/util/dummydata.ts
  front_end/client/util/types.ts
Labels: Batsu, Client

#122 make backend url to .env
  backend/src/user/user.controller.ts
  front_end/client/components/Pagination.tsx
  front_end/client/components/profile/ActiveMembership.tsx
  front_end/client/components/profile/MembershipHistory.tsx
  front_end/client/components/profile/UserDetail.tsx
  front_end/client/components/subcomp/Pagination/PageNum.tsx
  front_end/client/package-lock.json
  front_end/client/package.json
  front_end/client/pages/allFitness/[page].tsx
  front_end/client/pages/fitness/[id].tsx
  front_end/client/pages/index.tsx
  front_end/client/pages/login.tsx
  front_end/client/pages/profile.tsx
  front_end/client/pages/signUp.tsx
  front_end/client/pages/signUpGym.tsx
  front_end/client/styles/profile.scss
  front_end/dashboard/components/AddFitness.tsx
  front_end/dashboard/components/Sidemenu.tsx
  front_end/dashboard/package-lock.json
  front_end/dashboard/package.json
  front_end/dashboard/pages/fitness.tsx
Labels: Batsu

#123 113 dashboard dashboard login
  backend/src/google-login/google-login.controller.ts
  backend/src/user/user.controller.ts
  front_end/client/components/profile/ActiveMembership.tsx
  front_end/client/components/profile/MembershipHistory.tsx
  front_end/client/context/UserContext.tsx
  front_end/client/util/types.ts
  front_end/dashboard/components/Layout.tsx
  front_end/dashboard/components/Loading.tsx
  front_end/dashboard/components/Navbar.tsx
  front_end/dashboard/components/Sidemenu.tsx
  front_end/dashboard/context/UserContext.tsx
  front_end/dashboard/customHook/useConfirmer.tsx
  front_end/dashboard/pages/_app.tsx
  front_end/dashboard/pages/fitness.tsx
  front_end/dashboard/pages/index.tsx
  front_end/dashboard/pages/login.tsx
  front_end/dashboard/utils/types.ts
Labels: Batsu, Dashboard

#125 97 client all fitness page filtersearch
  backend/src/fitness/fitness.controller.ts
  backend/src/fitness/fitness.service.ts
  front_end/client/components/AllCard.tsx
  front_end/client/components/CategoryFilter.tsx
  front_end/client/components/Header.tsx
  front_end/client/components/HeaderTest.tsx
  front_end/client/components/Pagination.tsx
  front_end/client/components/Search.tsx
  front_end/client/pages/404.tsx
  front_end/client/pages/allFitness/[[...params]].tsx
  front_end/client/pages/allFitness/[page].tsx
  front_end/client/pages/profile.tsx
  front_end/client/util/Pages.tsx
  front_end/client/util/types.ts
Labels: Batsu, BE, Client

#128 all fitness working
  backend/src/fitness/fitness.controller.ts
  backend/src/fitness/fitness.service.ts
  front_end/client/components/AllCard.tsx
  front_end/client/components/Pagination.tsx
  front_end/client/pages/allFitness/[[...params]].tsx
Labels: bug, Batsu, BE, Client

#134 132 client fix profile page
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
  front_end/client/components/AllCard.tsx
  front_end/client/components/CategoryFilter.tsx
  front_end/client/components/Layout.tsx
  front_end/client/components/Pagination.tsx
  front_end/client/components/Search.tsx
  front_end/client/components/StatusMessage.tsx
  front_end/client/components/common/CategoryFilter.tsx
  front_end/client/components/common/Pagination.tsx
  front_end/client/components/common/Reload.tsx
  front_end/client/components/common/Search.tsx
  front_end/client/components/profile/ActiveMembership.tsx
  front_end/client/components/profile/MembershipHistory.tsx
  front_end/client/components/profile/UserDetail.tsx
  front_end/client/hook/useReload.ts
  front_end/client/package-lock.json
  front_end/client/package.json
  front_end/client/pages/allFitness/[[...params]].tsx
  front_end/client/pages/profile.tsx
  front_end/client/styles/globals.scss
  front_end/client/styles/profile.scss
Labels: Batsu, Client

#138 google login versel test
  backend/src/google-login/google-login.controller.ts
Labels: Batsu, BE

#146 footer bug fixed
  front_end/client/components/Footer.tsx
  front_end/client/pages/allFitness/[[...params]].tsx
Labels: bug
